body {
  background-color: #33cccc;
}

.container {
  background-color: #00b8e6;
  padding: 20px;
}

.video {
    border: 5px solid #B2B3B1;
  box-shadow: 10px 10px 5px #888888;
  padding-left: 5px;
  padding-rigth: 5px;
}

#banner-marty {
  background-color: white;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 30px;
  color: #299EC4;
  box-shadow: 8px 8px 5px #888888;
  
}

#amish-banner {
   height: 250px;
}
.dropdown {
  margin-top: 50px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.btn {
  box-shadow: 5px 5px 2px #888888;
}
h1 {
  font-size: 96px;
  font-family: Oswald;
  text-shadow: 2px 1px #B2B3B1;
}
#special {
  background-color: white;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: Oswald;
  font-size: 18px;
  color: #299EC4;
  box-shadow: 8px 8px 5px #888888;
}
#amish, #van {
  margin: 30px;
  border: 3px solid #000000;
  box-shadow: 8px 8px 5px #888888;
  padding-left: 5px;
  padding-rigth: 5px;
}
.well {
  margin-top: 20px;
  box-shadow: 5px 5px 3px #888888;
}
