body {
  background-color: #B2B3B1;
}

.container {
  background-color: #00b8e6;
  padding: 20px;
}

.video {
    border: 5px solid #B2B3B1;
  box-shadow: 10px 10px 5px #888888;
}

#banner-marty {
  background-color: white;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 20px;
  color: #299EC4;
  border-top: 5px solid;
  border-bottom: 5px solid;
  
}
h1 {
  font-size: 28px;
  font-family: Oswald;
  text-shadow: 2px 1px #B2B3B1;
}
#special {
  background-color: white;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 30px;
  margin-bottom: 50px;
  font-family: Oswald;
  font-size: 18px;
  color: #299EC4;
  border-top: 5px solid;
  border-bottom: 5px solid;
}
#amish, #van {
  margin: 30px;
  border: 5px solid #B2B3B1;
  box-shadow: 10px 10px 5px #888888;
}
